 {
	"demo.tshirt.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_sublayout": "_default.php"
				},
				"specific":  {
					"_width": "200",
					"_height": "",
					"_avoid_cropping": "",
					"_link_to_item": "1"
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "74107ceb-bcfe-4930-b158-69850a4c5aac"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_sublayout": "_default.php"
				},
				"specific":  {
					"_prefix": "",
					"_suffix": "",
					"_max_car": "200",
					"_max_car_mode": "1",
					"_max_car_suffix": "...",
					"_strip_tags": "1"
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "c6ea6669-1616-4490-a6ce-287d1adc97d4"
			}
		}
	},
	"demo.tshirt.full":  {
		"top":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_sublayout": "_default.php"
				},
				"specific":  {
					"_prefix": "",
					"_suffix": "",
					"_max_car": "",
					"_max_car_mode": "1",
					"_max_car_suffix": "..."
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "ca4388d0-2ede-4223-8b0c-f13fdcc91ced"
			}
		},
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_sublayout": "_default.php"
				},
				"specific":  {
					"_width": "500",
					"_height": "",
					"_avoid_cropping": ""
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "74107ceb-bcfe-4930-b158-69850a4c5aac"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_sublayout": "_default.php"
				},
				"specific":  {
					"_prefix": "",
					"_suffix": "",
					"_max_car": "",
					"_max_car_mode": "1",
					"_max_car_suffix": "..."
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "c6ea6669-1616-4490-a6ce-287d1adc97d4"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[ ]",
				"element": "_itemtag"
			}
		}
	}
}